@charset "utf-8";
/* CSS Document */

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

body {
    width: 70%;
    margin: auto;
    font-family: 'Arimo', sans-serif;
}

input:invalid {
  background-color: #F4CAD9;
  border: none;
  outline: 2px solid red;
  border-radius: 5px;
}

/*this*/
input:valid {
  background-color: #C8FCD2;
  border: none;
  outline: 2px solid green;
  border-radius: 5px;
}

/* Input Styles */
input[type=text],
input[type=number],
input[type=tel],
input[type=date],
input[type=email],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
